# ITCH sample files are multi-GB
*.gz
*.NASDAQ_ITCH50
*.itch
*.pcap
*.md5sum

tb/vectors/*.hex
tb/vectors/*.txt

*.xpr
*.jou
*.log
*.str
*.bit
*.ltx
*.dcp
*.rpt
usage_statistics_webtalk.*
.Xil/
build/
proj/
*.cache/
*.hw/
*.gen/
*.srcs/
*.ip_user_files/
*.runs/
*.sim/

xsim.dir/
*.wdb
*.wlf
*.vcd
*.pb

__pycache__/
*.pyc
.venv/
venv/

host/build/
*.o
*.exe

host/*.bin
host/*.mem
host/*.manifest.txt
